
body {
	margin: 0px;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.slider-container {
	position: absolute;
	top: 0.8em;
	left: 0.8em;
	display: flex;
	flex-direction: column;
}

.slider {
	width: 25em;
	margin: 0.8em;
}

.value {
	color: white;
	margin: 0.8em 0em 0em 0.8em;

	font-weight: bold;
	font-family: Helvetica;
}